.input {
  display: block;
  max-width: 100%;
  border-radius: 30px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: rgba(0, 0, 0, 0.75);

  font-size: 14px;
  font-weight: 700;
  line-height: 60px;

    /* Mobile */
    @media (max-width: 899px) {
      padding-left: 46px;
      padding-right: 46px;
      
    }

    /* Mobile XS */
    @media (max-width: 599px) {
      padding-left: 36px;
      padding-right: 36px;
    }
}

.input::placeholder {
  color: #fff;
}

.input:focus {
  background-color: #000;
}

